.contatos {
    width: 100%;
    display: grid;
    grid-template-areas: "title title title" "contato social link";
    grid-template-rows: auto 1fr;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.contato-container {
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato-item {
    display: flex;
    gap: 16px;
}

.social-container {
    grid-area: social;
    display: flex;
    gap: 32px;
    font-size: 1.5rem;
    justify-content: center;
}

.social-icon {
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all .7s;
}

.social-icon:hover {
    color: var(--primary-color);
    box-shadow: inset 0px 0px 16px var(--primary-color);
}

.link-container {
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}

.li-links {
    cursor: pointer;
    transition: all .7s;
}

.li-links:hover {
    color: var(--primary-color);
    box-shadow: 0px 0px 16px var(--primary-color);
}

.contato-title {
    font-size: 1.5rem;
}

/* TABLET */
@media (max-width: 960px) {
    .contatos{
        max-width: 800px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "title title title"
        "contato . link"
        "social social social";
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .social-container{
        grid-area: social;
    }
}

@media(max-width:640px){
    .contatos{
        height: 72rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }

    .contato-title{
        display: none;
    }
    .social-container{
        flex-direction: column;
    }
    .social-item{
        width: 86px;
        height: 86px;
        font-size: 56px;
    }
    .link-container{
        text-align: center;
        padding-bottom: 2rem;
    }
}